//сильно прыгает форматирование в этом файле, теряется читабельность
html {
  //шрифт каскадом задаётся от body и наследуется дочерними элементами, это распространенная практика
    font-family: Helvetica, sans-serif;

  //привычнее увидеть их в :root {} секции, для этого она и создана
--primary-color: #2f80ed;
--secondary-color: #333333;
--background-color: #d2dff0;
}

//я увидел у тебя небольшое кол-во применения БЭМ синтаксиса ниже по коду, однако
//писать стили к тегам - плохая практика, вся вёрстка делается через классы из-за проблем специфичности в css,
//сама методология БЭМ направлена чтобы избежать её
h1 {
color: var(--primary-color);
margin-bottom: 50px;
text-decoration: underline;
}

.contact {
    display: flex;
   //нет, так не принято, шрифт задаётся в px, крайне редко в определенных сайтах используют относительные единицы em/rem и всё
    font-size: small;
}

//ты используешь scss, но не используешь вложенность тегов, одной из главных причин использования
//препроцессоров, надо переписать
.contact__type {
    min-width: 90px;
}

.experience {
    display: -webkit-box;
  display: -ms-flexbox;
    display: flex;
  }

  //__q, __a - плохое сокращение, не является общепринятым, если напишешь слово целиком будет больше плюс в читабельности
  .experience__q {
    color: var(--primary-color);
    max-width: 350px;
    margin: 0 15px; // в данном случае margin указан не у того элемента, т.к. если перенести блок experience в другое место, то этот отступ перенесется вместе с ним, что будет лишним поведением
    margin-top: 50px; // эту и пред строчки можно объеденить
    text-decoration: underline; // теперь оно выглядит как ссылки, но таковым не является, синий цвет с подчеркиванием по UX предполагает такое действие
    background-color: var(--background-color);
  }
  
  .experience__a {
    min-width: 100px;
    margin-top: 50px; // нет, это должен был быть отступ между отдельными строками в целом, т.е. gap свойством родительского блока в современном css
  }